@page "/"
@using SO73878118.Data

<PageTitle>Index</PageTitle>

<EditForm EditContext="editContext" OnInvalidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div style="padding-top:10px" class="col-md-4">
        <label>
            Name:
            <InputText @bind-Value="dateTimeModel.Name" />
        </label>
        <ValidationMessage For="@(() => dateTimeModel.Name)" />
    </div>

    <div style="padding-top:10px" class="col-md-4">
        <label>
            From Date:
            <InputDate @bind-Value="dateTimeModel.FromDate" @onfocusout="HandleFromDateFocusOut" />
        </label>
        <ValidationMessage For="@(() => dateTimeModel.FromDate)" />
    </div>

    <div style="padding-top:10px" class="col-md-4">
        <label>
            To Date:
            <InputDate @bind-Value="dateTimeModel.ToDate" />
        </label>
        <ValidationMessage For="@(() => dateTimeModel.ToDate)" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    EditContext? editContext;
    DateTimeModel dateTimeModel = new();

    protected override void OnInitialized()
    {
        editContext = new EditContext(dateTimeModel);
    }

    private void HandleFromDateFocusOut()
    {
        if (editContext != null && dateTimeModel.ToDate != null)
        {
            FieldIdentifier toDateField = editContext.Field(nameof(DateTimeModel.ToDate));
            editContext.NotifyFieldChanged(toDateField);
        }
    }

    private void HandleValidSubmit()
    {
    }
}
